<div class="span3 contenido">
    <div class="row-fluid imagen-resultado">
        <img src="{IMG_NATANE}/{imagen}">
        <div class="row-fluid titulo-result">
            <a href="{url_sitio}?id={id_sitio}"><h6><i class="{icono}"></i> {nombre}</h6></a>
        </div>        
    </div>    
</div>