    <section id="R_busqueda">
        
        <div class="row-fluid">
            <h2>Resultado de tu busqueda</h2>
        </div>
        
        <div class="row-fluid">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a class="cursor_link" id="BuscaTodo">Todo</a></li>
                        <li><a class="cursor_link" id="BuscaAventurero">Aventureros</a></li>
                        <li><a class="cursor_link" id="BuscaSitio">Sitios</a></li>
                        <li><a class="cursor_link" id="BuscaEmpresa">Empresas</a></li>
                        <li class="divider-vertical"></li>                        
                        <li><a class="cursor_link" id="BuscaHoteles">Hoteles</a></li>                        
                        <li><a class="cursor_link" id="BuscaRestaurante">Restaurantes</a></li>
                        <li><a class="cursor_link" id="BuscaCaminata">Caminata</a></li>                    
                        <li><a class="cursor_link" id="BuscaRecreacion">Deportes</a></li>                     
                        <li><a class="cursor_link" id="BuscaDisco">Discotecas</a></li>  
                        <li><a class="cursor_link" id="BuscaBar">Bares</a></li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">			
                <div class="span12" id="contenido_respuesta">
                    {resultado} <!-- "elemento_respuesta.html" -->
                </div>
            </div>
        </div> <!-- /container -->            
		
	</section>

    
    <!-- VENTANAS MODAL-->
    
    {modales}
