        <!-- Compartir Experiencia-->
        <div id="compartirExperiencia" style="display: none">
            <legend>
                <a class="close cancelarExperiencia">&times;</a>            
                <h3 id="edita_crea_Exp">Comparte tu Experiencia</h3>                
            </legend>                             
            <form class="form-horizontal" id="formExperiencia" method=post enctype=multipart/form-data>              
                <div class="row-fluid">
                    <div class="span12">                  
                        <div class="row-fluid control-group">
                            <div class="span6 titu_exp">
                                <input type="text" class="input-xlarge" id="Exptitulo" name="Exptitulo" placeholder="Titulo de tu experiencia..." required>
                            </div>                            
                            <div class="span6">            
                                
                                <div class="caja_Bfile btn btn-green active"> 
                                    <i class="icon-camera"> Cargar Imagenes</i>
                                    <input class="Bfile" type="file" id="imagenes_experiencia" name="imagenes_experiencia[]" multiple />                                  
                                </div>
                                <!--<i class="btn btn-blue active icon-camera-retro icon-2x"></i> -->
                <!--<div class="inputWrapper">
                    <input class="fileInput" type="file" name="file1"/>
                </div>-->                                
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12 text_exp">
                                <div class="control-group">
                                    <textarea rows="4" class="span12" id="Expdesc" name="Expdesc" placeholder="Escribe todas las experiencias que viviste en este sitio...¡TODO!" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">      
                            <output id="list_img_exp"></output>                                           
                        </div>                  
                    </div>
                </div>                                
                <div id="botones_exp" class="control-group">                  
                    <button class="btn btn-blue" id="creaExperiencia">Compartir</button>
                    <button class="btn btn-red cancelarExperiencia"> Cerrar</button>                                                
                </div>                
            </form>        
        </div>
<!--
<script type="text/javascript" language="javascript">
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('list').insertBefore(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
  
</script>
-->

