	<div class="row-fluid nombre">
            <h3>{nombre}</h3>
        </div>


	<div class="row-fluid foto_perfil">	
            
            <button class="btn btn-blue icon-ok edit_img_perfil" style="display: none"></button>
            <!--<button class="btn icon-remove edit_img_perfil active" style="display: none"></button>-->
            
            <form method="post" enctype="multipart/form-data" id='formImgPerfil' style="display: none">                              
                <div class="caja_Bfile btn btn-green active"> 
                    <i class="icon-folder-open-alt"> Cambiar Foto</i>
                    <input class="Bfile Bimg_perfil" type="file" id="foto_perfil" name="foto_perfil[]" />                                  
                </div>                
            </form>      
            
            <output id="previa_img_perfil">
                <img class="img-polaroid" src="{IMG_NATANE}/{imagen}"/>                                 
            </output>
	</div>


	<div class="row-fluid info">
            <p>
                <b>Genero:</b> {genero}<br>
                <b>Nacio el:</b> {f_nacimiento}<br>
                <b>Email:</b> {correo}<br>
                <b>Pais:</b><a href="#/Colombia"> {pais_origen}</a><br>
                <b>Web: </b><a href="#/Colombia"> {web_site}</a><br>
                

            
            </p>		
	</div>



