        <!-- Editar Experiencia-->
        <div id="editarExperiencia" style="display: none">
            <legend>
                <a class="close cancelEdiExp">&times;</a>            
                <h3 id="edita_crea_Exp">Edita tu Experiencia</h3>                
            </legend>                             
            <form class="form-horizontal" id="formEditarExperiencia" method=post enctype=multipart/form-data>              
                <div class="row-fluid">
                    <div class="span12">                  
                        <div class="row-fluid control-group">
                            <div class="span6 titu_exp">
                                <input type="text" class="input-xlarge" id="ediExptitulo" name="ediExptitulo" placeholder="Titulo de tu experiencia..." required>
                            </div>                            
                            <!--<div class="span6">            
                                <label class="cabinet bimgexp"> 
                                    <input type="file" id="imagenes_experiencia" name="imagenes_experiencia[]" multiple />          
                                </label>
                            </div>-->
                        </div>
                        <div class="row-fluid">
                            <div class="span12 text_exp">
                                <div class="control-group">
                                    <textarea rows="4" class="span12" id="ediExpdesc" name="ediExpdesc" placeholder="Escribe todas las experiencias que viviste en este sitio...¡TODO!" required></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row-fluid">      
                            <output id="list_img_exp"></output>                                           
                        </div>-->                  
                    </div>
                </div>                                
                <div class="control-group">                  
                    <button class="btn btn-blue" id="guarda_edicionExp">Guardar</button>
                    <button class="btn btn-red cancelEdiExp">Cerrar</button>                    
                </div>                
            </form>        
        </div>