<div id="{id_experiencia}" class="row-fluid experiencia">        

    <div class="span3 im_exp">
        <img src="{IMG_NATANE}/{imagen}" /> <br />     
    </div>    
    <div class="span9 info_exp">                     

        <div class="btn-block opc_exp">          
            <button class="btn icon-trash tooltip1" rel="tooltip" title="Eliminar" onclick="eliminarExperiencia({id_experiencia})"></button>            
            <button class="btn icon-pencil tooltip2" rel="tooltip" title="Editar" onclick="editarExperiencia({id_experiencia})"></button>                                    
            <!--<button class="btn icon-trash elimina_exp"></button>
                <button id="{id_experiencia}" class="btn icon-pencil modifica_exp"></button>-->
        </div>               
        
        <h4>{dirigido_a}</h4>
        <p>
            {comentario}                        
            <p><a href="#">leer mas...</a></p>  
        </p>
    </div>        



</div>                                        

