        <!-- editar empresa-->
        <div id="editarEmpresa" style="display: none">
            <legend>
                <a class="close cancelar_edicion_empresa">&times;</a>            
                <h3>Editar Perfil</h3>
            </legend>       
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="EnomE">Nombre: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EnomE" required> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EnitE">Nit: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EnitE" required> 
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="EdescE">Descripcion: </label>
                    <div class="controls">
                        <textarea id="EdescE" style="min-width: 200px; max-width: 500px; max-height: 200px" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EcityE">Ciudad: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EcityE" required>
                    </div>
                </div>                       
                <div class="control-group">
                    <label class="control-label" for="EdirE">Direccion: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EdirE" required>
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="EtelE">Telefono: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EtelE" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EmailE">Email: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EmailE" required>
                    </div>
                </div>       
                <div class="control-group">
                    <label class="control-label" for="ElatE">Latitud: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="ElatE" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ElongE">Longitud: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="ElongE" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Es_webE">Sitio Web </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="Es_webE">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EfaceE">Perfil de Facebook: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EfaceE">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="EtwiE">Perfil de Twitter: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EtwiE" placeholder="@tu_perfil">
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="EyouE">Canal de Youtube </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="EyouE">
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="Epass1E">Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" id="Epass1E" required>
                        <span class="help-inline">minimo 6 caracteres entre letras y números</span>      
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Epass2E">Confirma tu Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" id="Epass2E" required>
                    </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <a class="btn btn-primary" id="guarda_edicion_empresa">Guardar Cambios</a>
                    <a class="btn btn-red cancelar_edicion_empresa">Cancelar</a>
                  </div>
                </div>                
            </form>   
        </div>            