
    <section id="perfilEmpresa">

        <div class="row-fluid">   
            <div class="span9">
                <h1>{nombre_empresa}</h1> 
            </div>
            <div class="span3 contenido">
                <button class="btn btn-cyan btn-block" id="Bconfio"><i></i> Confio en esta empresa</button>
            </div>            
        </div>

        {slider_empresa}

        <div class="row-fluid">
            <br />
            {editarEmpresa}
        </div>        
        
        <div class="row-fluid">            
            <div class="span5">
                <h2>Descipción</h2>
                <div class="row-fluid contenido">
                    <div class="actividades">
                        <p>{descripcion}</p>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span8 contenido contacto">
                        {contacto}
                    </div>
                    <div class="span4">
                        <div class="row-fluid contenido" id="puntos_confianza">
                            <a class="btn btn-cyan active btn-block">                                 
                                <h4>{confianza} Puntos de Confianza</h4>
                            </a>                            
                        </div>                                                               
                    </div>           
                    
                                        
                </div>                   

            </div>                               

            <div class="span7">
                <h2>Ubicación</h2>  
                <div class="detalle_sitio">
                    <div class="maps">                 
                        <div id="map_canvas"></div>   
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row-fluid"><hr/></div>
        
        <div class="container-fluid">  
            <div class="row-fluid ">
                <div class="span12">
                    <div class="row-fluid ">        
                        <div class="span9">                        
                            <h2>Actividad Reciente </h2>
                            <div class="pestañas" >
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#1" data-toggle="tab">Nuestros servicios</a></li>
                                        <li><a href="#2" data-toggle="tab">Actividad reciente</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">           

                                            {servicios}

                                        </div>  <!-- pestaña 1 -->
                                    
                                        <div class="tab-pane" id="2"> 

                                            {experiencias}

                                        </div>   <!-- pestaña 2 -->

                                    </div>
                                </div>
                            </div>     <!-- pestañas -->
                            <!-- </div>   <!-- span9 --> 
                        </div>

                        <div class="span3">
                            <h3>Social Media</h3>                

                            <div class="row-fluid">
                                <div class="seguidores contenido">                            
                                    <h3><a href="#seguidores">Amigos</a></h3>
                                    {seguidores}
                                </div> <!-- seguidores -->                        
                            </div>

                            <div class="row-fluid">
                                <div class="seguidores contenido">                            
                                    <h3><a href="#seguidores">Clientes/Aliados</a></h3>
                                    {gustaria}
                                </div> <!-- seguidores -->   
                            </div>                
                            
                        </div>    <!-- pestañas y social media -->
                    </div>        
                </div>
            </div>
        </div>        
        
        <div class="row-fluid"><hr/></div>
        <!--<br />-->
        {ferrocarril}

    </section>

    <!-- VENTANAS MODAL-->
    
    {modales}


    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgDQaCxGzNVRkJ5HT8tWKcxNAW7DM8ktQ&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng({latitud},{longitud}),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>    


