<div class="span4" id="resultado">
    <div class="row-fluid" id="titulo">
        <div id="titulo-result">                                
                <h5><i class="icon-home"></i> {nombre}</h5>
        </div>

    </div>
    <hr>                        
    <div class="row-fluid">
        <div class="resultado">
            <div class="imagen-resultado">
                <img src="{IMG_NATANE}/{imagen}">
            </div>
        </div>
    </div>
</div>