
    <div id="gallery-container">
    
    <ul class="items--small">

        {foto_small}
        
    </ul>
    <ul class="items--big">
                   
        {foto_big}

    </ul>
    <div class="controls">
      <span class="control icono-arrow-left" data-direction="previous"></span> 
      <span class="control icono-arrow-right" data-direction="next"></span> 
      <span class="grid icono-grilla"></span>
      <span class="fs-toggle icono-fullscreen"></span>
    </div>
    
  </div> 
