    <li class="item{tam_foto_big}">         
        
      <a href="#"><img src="{IMG_NATANE}/{imagen}" alt="" /></a>
      
      <div class="autor-{tamano}">

        <a href="{url_autor}?id={id_usuario}">
            
            <img class="imgautor" src="{IMG_NATANE}/{img_usuario}"/>
            
            <p>{nombre_usuario}</p>                          
        </a>
           
      </div>                           
    </li>