
	<section id="Galeria">
        
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span8">
                        <a href="{url_padre}?id={id}"> <!--Es la url a la que pertenece la galeria, sitio u empresa-->
                            <h3>{nombre_galeria}</h3>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container-fluid">
            <div class="row-fluid">         
                <div class="span12">
                    {fotos}
                </div>
            </div>
        </div>         

        

		
	</section>


    
    {modales}
    




    

       