  <section>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">                                                   
                    <div class="row-fluid">                                
                            {slider}
                    </div>
                    <br>
                    <div class="row-fluid">                        
                        <h3 style="color: #0088cc">Sitios Recomendados</h3>
                    </div>                    
                    
                    <div class="row-fluid">                                                
                        {ferrocarril}
                    </div>                                      
                    
                </div>    

            </div>
        </div>
    </section>
     
    

    <!-- VENTANAS MODAL-->
    
        {modales}
    
    
