        <!-- editar perfil-->
    <div id="modaledit" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>            
            <h3>Editar Perfil</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">                        
                <div class="control-group">
                    <label class="control-label" for="imper">Imagen de perfil: </label>
                    <div class="controls">
                        <label class="cabinet">
                            <i class="icon-camera-retro icon-2x"></i>
                            Cargar
                            <input type="file" class="file" />
                        </label>
                    </div>
                          <!--<div class="controls">
                            <input type="file" class="input-file" id="imper" ></input>
                          </div> -->
                </div>        
                <div class="control-group">
                    <label class="control-label" for="nom">Nombres: </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="Enom" name="nom" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ape">Apellidos: </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="Eape" name="ape" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mail">Email: </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="Email" name="mail" value="">
                    </div>
                </div>       
                <div class="control-group">
                    <label class="control-label" for="genero">Genero: </label>
                    <div class="controls">
                        <label class="radio"> 
                            <input type="radio" id="Egenero" value="Masculino" name="Egenero">Masculino
                        </label>
                        <label class="radio"> 
                            <input type="radio" id="Egenero" value="Femenino" name="Egenero">Femenino
                        </label>            
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fecha de Nacimiento: </label>
                    <div class="controls">
                        <div class="input-append date" id="dp_edi" data-date="12/02/2013" data-date-format="dd/mm/yyyy">
                            <input class="span2" size="16" value="12/02/2012" readonly="readonly" type="text">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass1">Cambiar Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="Epass1" value="" name="pass1">              
                        <span class="help-inline">minimo 6 caracteres entre letras y números</span>      
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass2">Confirma tu Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="Epass2" value="" name="pass2">
                    </div>
                </div>                      
            </form>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-blue">Guardar Cambios</a>
            <a href="#" class="btn btn-red-wine" data-dismiss="modal">Cerrar</a>
        </div>
    </div>        

            <!-- registrarse-->
    <div id="modalregistro" class="modal hide fade" style="display: none;">    
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Registrarse</h3>
        </div>

        
<form class="form-horizontal" action = "{url_login}" method="GET" enctype="multipart/form-data">        
        <div class="modal-body">
            
                
                <div class="control-group">
                    <label class="control-label" for="Rnom">Nombres: </label>
                    <div class="controls">
                        <input type="text" class="input-medium" name="Rnom" required> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rape">Apellidos: </label>
                    <div class="controls">
                        <input type="text" class="input-medium" name="Rape" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rmail">Email: </label>
                    <div class="controls">
                        <input type="text" class="input-medium" name="Rmail" required>
                    </div>
                </div>       
                <div class="control-group">
                    <label class="control-label" for="Rgenero">Genero: </label>
                    <div class="controls">
                        <label class="radio"> 
                            <input type="radio" name="Rgenero" value="Masculino" id="RgeneroM">Masculino
                        </label>
                        <label class="radio"> 
                            <input type="radio" name="Rgenero" value="Femenino" id="RgeneroF">Femenino
                        </label>            
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rnaci">Fecha de Nacimiento: </label>
                    <div class="controls">
                        <div class="input-append date" id="dp_reg" data-date="12/02/2013" data-date-format="dd-mm-yyyy">
                            <input class="input-small" name="Rnaci" size="16" value="12/02/2013" readonly="readonly" type="text">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rpass1">Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" name="Rpass1" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rpass2">Confirma tu Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" name="Rpass2" required>
                    </div>
                </div>             
            
        </div>
        <div class="modal-footer">
            <!--<a class="btn btn-blue" id="registrarU">Registrarme</a>-->
            <input class="btn btn-blue" type="submit" value="Registrarme" name="enviar">
            <a class="btn btn-red-wine" data-dismiss="modal">Cerrar</a>
        </div>          
</form>                    
    </div>

            <!-- iniciar sesion-->
    <div id="modallogin" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Iniciar Sesion</h3>
        </div>
<form action = "{url_login}" method="GET" enctype="multipart/form-data" class="form-horizontal" >
        <div class="modal-body">
            
                <div class="control-group">
                    <label class="control-label" for="nickU">Email: </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="nickU" required>            
                    </div>
                </div>       
                <div class="control-group">
                    <label class="control-label" for="claveU">Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="span2" name="claveU" required>              
                        <p class="help-block"><a href="#">Olvide mi contraseña</a></p>
                    </div>
                </div>
                <hr size="4" color="#ccc" />
                <div class="control-group">          
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">
                            <span><i class="icon-facebook"></i></span>
                            Ingresar usando Facebook
                        </button>  
                    </div>
                </div>                       
            
        </div>
        <div class="modal-footer">
            
            <input class="btn btn-blue" type="submit" value="Ingresar" name="enviar">
            <a class="btn btn-red-wine" data-dismiss="modal">Cerrar</a>
        </div>
    </form>
    </div>
    
            <!-- compartir experiencia -->
    <div id="modalexpe" class="modal hide fade" style="display: none;">

        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Nombre del Sitio</h3>            
        </div>

        <div class="modal-body">          
            <form class="form-horizontal">             
                <div class="row-fluid">
                    <div class="span12">                  
                        <div class="row-fluid control-group">
                            <div class="span10 titu_exp">
                                <input type="text" class="input-xlarge" id="Exptitulo" placeholder="Titulo de tu experiencia...">
                            </div>                            
                            <div class="span2 b_car_im" style="border: solid 1px red">
                                
                                <label class="cabinet">
                                    <i class="icon-camera-retro icon-2x"></i>Fotos                                    
                                </label>
                            </div>
                            
                            
                        </div>
                        <div class="row-fluid">
                            <div class="span12 text_exp">
                                <div class="control-group">
                                    <textarea rows="4" class="span12" id="Expdesc" placeholder="Escribe todas las experiencias que viviste en este sitio...¡TODO!"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">                            
                            <input type="file" id="files" name="files[]" multiple />
                            <output id="list"></output>                                           
                        </div>                  
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn btn-blue" id="experiencia">Compartir</a>
            <a class="btn btn-red-wine" data-dismiss="modal">Cerrar</a>
        </div>
    </div>