    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid ">
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="row-fluid">
                          
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>   
                          
                        <div class="span3">
                            <a class="brand" href="{URL_INICIO}"><img alt="logo" src="{IMG_SYS}/logonatane1.png"></a>
                        </div>
                          
                        <div class="span4 formBusqueda">
                            <form class="navbar-form" method="post" enctype="multipart/form-data">                                        
                                <div class="input-append">
                                    <input id="loBusca" name="loBusca" type="text" placeholder="Busca lugares, personas o empresas" style="font-size: 12px" />
                                    <span class="btn btn-blue active BarraBuscaTodo"><i class="icon-search"></i></span>
                                </div>                                
                            </form>  
                        </div>
                        
                        <div class="nav-collapse collapse" id="nav-collapse">
                            <div class="span5 botones">                                
                                <ul class="nav pull-right">
                                    <li class="active">
                                        <a data-toggle="modal" href="#modalexpe">Compartir Experiencia</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#modallogin">Ingresar</a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" href="#modalregistro">Registrarse</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>