                            <div {empresa}>
                    	        <p>
                                    <a href="{url}?id={id}" style="text-decoration:none;">                                        
                                        <img src="{IMG_NATANE}/{imagen}"/>
                                        {nombre}
                                    </a>                                        
                                </p>                    		                    	
                            </div>
