.maps{
    height:400px;
}


.detalle_sitio{
    height: 320px;
}

.actividades{
    height: 200px;
}

#galeria{
    position: absolute;
    z-index: 100;
    margin-top: 300px;
}

.comparte{
  margin: 0 auto;
  width: 65%;
}

.botones-comparte{
    margin: 0 auto;
    width: 65%;
}


/************************ PESTAÑA DE IMAGENES ************************/
#content .box {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
}
