header .formBusqueda{
  padding-top: 8px;
}

header .botones{
  padding-top: 8px;
}

body{
    background-color: #F3F3F3;
    /*background-image: url("../img/body1.png");*/
}

.cursor_link{
    cursor: pointer;
}
section{
    float: inherit;
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 70px;
  /*border: 1px solid;*/
}

.contenido{	
    background-color: #FFFFFF;
    /*background-image: url("../img/body2.png");*/
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    margin-top: 15px;
    margin-bottom:15px;
    box-shadow: 10px 10px 20px #ccc;
}

#contenido-black{
	background-color: black;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* -------------------- MAPA DE GOOGLE -------------------- */
#map_canvas { height: 100% }

/* -------------------- Carrusel -------------------- */
.carousel .item {
    background-color: #000;
}
.carrusel_publicidad{	
	background-color: #fff;
	/*border: 1px blue solid;	*/
	width: 100%;
	height: 400px;	
}
.carrusel_publicidad img{
	float: center;
	margin: 0 auto;
	height: 400px;
}


/************************ visitantes y admiradores ************************/
.seguidores{	
	padding: 10px;
	height: 400px;	
	background-color: white;
	border: 1px solid #ccc;
/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; */
	overflow: auto;
}
.seguidores h3{	
	margin: 0px;
	margin-bottom: 10px;	
}
.seguidores p{	
	padding-left: 15px;	
	height: 55px;
 	overflow: hidden;                
}
.seguidores img{
	width: 55px;
	height: 55px;
	border: 1px solid #ccc;        
}

/************************ PESTAÑA DE EXPERIENCIAS ************************/
.experiencia{     
    background-color: #FFFFFF;    
    /*background-image: url("../img/body2.png");*/
    margin-bottom: 15px;
    padding: 8px;
    width: auto;  
    border: solid 1px #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.experiencia .im_exp{
  padding-left: 10px;
  height: 125px;  
  margin: 5px 0 5px 0;
}
.experiencia .im_exp img{
  margin: 0 auto;
  height: 100%;
}
.experiencia .info_exp h4{
    color: #0088cc;    
}
.experiencia .info_exp p{
  margin-top: 0px;
  font: 13px Arial;
}
.opc_exp button{
    float: right;
    padding: 5px;
    margin-left: 5px;
} 

/************************ PESTAÑA DE EXPERIENCIAS ************************/
.vista_imgExp{    
    height: 75px;
    border: 1px solid #000;
    margin: 0 5px 10px 0;    
}

.previa_fotoPerfil{
    /*height: 100px;
    border: 1px solid #000;
    margin: 0 5px 10px 0;*/
    position: inherit;
    z-index: 1;    
}



/************************ Contacto *************************/
.contacto{
    text-align: center;    
}
.redes:hover{
    text-decoration: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.redes.face{
    color: #3B5998;
}
.redes.twit{
    color: #00B9F4;
}
.redes.google{
    color: #B32C1E;       
}
.redes.youtube{
    color: #E12B26;
    
}
/************************ Modal de notificaciones ************************/
.notificacion{ 
  margin-bottom: 15px;
  padding: 8px;
  width: auto;  
  background: white;
  border: 1px solid #88bfe8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.notificacion .im_notif{
  padding-left: 10px;
/*padding-right: 25px;  */
  height: 80px;  
  margin-bottom: 10px;
  float: left;      
  margin: 0 auto;
}


.notificacion .im_notif img{
  margin: 0 auto;
  height: 100%;
}

/* .notificacion .info_notif{
  border: 1px solid blue;
} */
.notificacion .info_notif h4{
  margin: 5px 0px 5px 20px; 
}
.notificacion .info_notif p{
  margin-top: 0px;
  font: Arial;
  font-size: 12px;
}


/************************ Botones FILE invisibles ************************/

.caja_Bfile{
    /*height: 30px;
    width: 150px;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button
    background-color: #DDF;*/
}
.Bfile{
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/************************ Botones generales del diseño ************************/

.btn-red {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #BD1717;
	background-image: -moz-linear-gradient(top, #FF0000, #BD1717);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#BD1717));
	background-image: -webkit-linear-gradient(top, #FF0000, #BD1717);
	background-image: -o-linear-gradient(top, #FF0000, #BD1717);
	background-image: linear-gradient(to bottom, #FF0000, #BD1717);
	background-repeat: repeat-x;
	border-color: #BD1717;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#BD1717', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red:hover,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
	color: #FFFFFF;
	background-color: #BD1717;
}

.btn-red-wine {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #9E0529;
	background-image: -moz-linear-gradient(top, #E8074E, #9E0529);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E8074E), to(#9E0529));
	background-image: -webkit-linear-gradient(top, #E8074E, #9E0529);
	background-image: -o-linear-gradient(top, #E8074E, #9E0529);
	background-image: linear-gradient(to bottom, #E8074E, #9E0529);
	background-repeat: repeat-x;
	border-color: #9E0529;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8074E', endColorstr='#9E0529', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red-wine:hover,
.btn-red-wine:active,
.btn-red-wine.active,
.btn-red-wine.disabled,
.btn-red-wine[disabled] {
	color: #FFFFFF;
	background-color: #9E0529;
}

.btn-purple {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #611BBD;
	background-image: -moz-linear-gradient(top, #AA4CE8, #611BBD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AA4CE8), to(#611BBD));
	background-image: -webkit-linear-gradient(top, #AA4CE8, #611BBD);
	background-image: -o-linear-gradient(top, #AA4CE8, #611BBD);
	background-image: linear-gradient(to bottom, #AA4CE8, #611BBD);
	background-repeat: repeat-x;
	border-color: #611BBD;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA4CE8', endColorstr='#611BBD', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-purple:hover,
.btn-purple:active,
.btn-purple.active,
.btn-purple.disabled,
.btn-purple[disabled] {
	color: #FFFFFF;
	background-color: #611BBD;
}

.btn-blue {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0B29BD;
	background-image: -moz-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0D85D6), to(#0B29BD));
	background-image: -webkit-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: -o-linear-gradient(top, #0D85D6, #0B29BD);
	background-image: linear-gradient(to bottom, #0D85D6, #0B29BD);
	background-repeat: repeat-x;
	border-color: #0B29BD;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D85D6', endColorstr='#0B29BD', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
	color: #FFFFFF;
	background-color: #0B29BD;
}

.btn-cyan {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1B77BD;
	background-image: -moz-linear-gradient(top, #4CAAE8, #1B77BD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4CAAE8), to(#1B77BD));
	background-image: -webkit-linear-gradient(top, #4CAAE8, #1B77BD);
	background-image: -o-linear-gradient(top, #4CAAE8, #1B77BD);
	background-image: linear-gradient(to bottom, #4CAAE8, #1B77BD);
	background-repeat: repeat-x;
	border-color: #1B77BD;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CAAE8', endColorstr='#1B77BD', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-cyan:hover,
.btn-cyan:active,
.btn-cyan.active,
.btn-cyan.disabled,
.btn-cyan[disabled] {
	color: #FFFFFF;
	background-color: #1B77BD;
}

.btn-green {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00991A;
	background-image: -moz-linear-gradient(top, #43E312, #00991A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#43E312), to(#00991A));
	background-image: -webkit-linear-gradient(top, #43E312, #00991A);
	background-image: -o-linear-gradient(top, #43E312, #00991A);
	background-image: linear-gradient(to bottom, #43E312, #00991A);
	background-repeat: repeat-x;
	border-color: #00991A;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E312', endColorstr='#00991A', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
	color: #FFFFFF;
	background-color: #00991A;
}

.btn-slider{
    width: 100px;
    height: 25px;
    font-size: 15px;
    padding-top: 10px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.btn-slider:hover{
    opacity: 1;
    filter: alpha(opacity=100);    
}


@media screen and (max-width:1006px){
  section{
    padding-top: 20px;
  }
}



/* Css para registro de usuarios  */