/************************ PERFIL DE USUARIO ************************/

#P_usuario .opciones .navbar-inner{
	min-height: 40px;
	padding-left: 7px; 	
} 

#P_usuario .opciones .navbar .nav > li {	
  	padding-top: 5px;    
}

#P_usuario .opciones .navbar .nav > li > a {
  	padding: 5px 5px 5px;
  	font-size: 12px;
  	font-weight: bold;
} 

.usuario{
	margin-bottom: 10px;
	border: 1px solid #ccc;
/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  
	background-color: #F3F3F3;*/
}
.usuario .nombre h3{
	text-align: center;	
}
.usuario .foto_perfil{
	margin: 0px auto;		
	width: 200px;
	height: 200px;	
}
.usuario .foto_perfil img{	
	width: 100%;
	height: 100%;  
}
.usuario .info{
	padding: 15px;
	/* border: 1px solid blue; */
}
.usuario .edit_img_perfil{       
    padding: 5px;
    margin: 10px 0 0 180px;
    position: absolute;
    z-index: 10;
  /*opacity: 0.2;
  filter: alpha(opacity=20);    */
    
}

.usuario #formImgPerfil{
    padding: 5px;
    margin: 5px 20px 0 30px;
    position: absolute;
    z-index: 10;
}
