/************************ GALERIA DE FOTOS ************************/
#Galeria .navbar-inner{
  min-height: 40px;
} 

/*.ubicacion .btn{
	color: #007E00;
	font-weight: bold;	
}*/

#galeria_sitio{
  	background-color: black;  	
  	margin-top: 10px;
  	margin-bottom: 10px;
  	border: 1px solid #ccc;
}

.foto_galeria{
/*	width: 200px;
	height: 150px;	*/
	margin: 0 auto;
	/*padding-top: 10px;*/
}

.foto_galeria img{
   	width: 100%;
	height: 100%;
}

.foto_galeria img:hover{
	/*border: 1px solid #00FF00;*/
}

.autor-big{
	margin: 0 auto;	
	width: 100%;
	height: 40px;       
	position: relative;
	float: left;        
}


.autor-big img{
   	width: 30px;
	height: 30px;
        float: left;
        margin: 5px;
}
.autor-big h6{
	width: 175px;
	height: 20px;	 	
	overflow: hidden;
        float: left;
        text-align: left;
}


.autor-small{
	margin: 0 auto;	
	width: 100%;
	height: 30px;       
	position: relative;
	float: left;            
    
    
}
.autor-small p{
	width: 70%;
	height: 10px;	 		
        float: left;
        text-align: left;
        font-size: 12px;
}


.autor-small .imgautor{
   	width: 20px;
	height: 20px;
        float: left;
        margin: 2px;
}

.autor-big .imgautor{
   	width: 20px;
	height: 20px;
        float: left;
        margin: 2px;
}
.autor-small h6{
	width: 70%;
	height: 10px;	 		
        float: left;
        text-align: left;
        font-size: 12px;
}