/************************ MiRAR FOTOS DEL SITIO ************************/
.foto-publicada{
	width: auto;
	height: auto;
 	margin: 0px auto;	
	position: relative;
	z-index: 1;	
}
.foto-publicada img{
 	width: 100%;
  	height: 100%; 
}

.lopublico{
	width: 50px;
	height: 50px;	
	position: relative;
	float: right;	
	right: 10px;
	bottom: 60px;
	z-index: 2;
	border: 1px solid #88bfe8;
}
.lopublico img{
   	width: 100%;
	height: 100%;
}

.comentarios{	
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid red;
	height: 425px;
	overflow: auto;
}
.comentarios .im_usu{	
	width: 48px;
	height: 48px;	
	position: relative;
	float: left;
	margin: 0px auto;
	margin-bottom: 10px;	
}
.comentarios .im_usu img{	
	width: 100%;
	height: 100%;
	border: 1px solid #88bfe8;
}
.comentarios .exp_usu{	
	margin-left: 65px;
	margin-bottom: 15px;
	padding: 8px;
	width: auto;
	background: white;
	border: 1px solid #88bfe8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.tucomen textarea{	
	font: 13px 'lucida sans', 'trebuchet MS', 'Tahoma';	
	resize: none;
	overflow: auto;
}




