
    <section id="perfilSitio">

        <div class="container-fluid">
            <div class="row-fluid">         
                <div class="span12"> 
                    <div class="row-fluid">    
                        <div class="span9">                                                    
                            <div class="row-fluid">
                                <h1>{nombre}</h1>
                                {slider_sitio}  <!-- en sitio/slider_header.html -->

                                <br />
                                <!--<div class="row-fluid"><hr /></div> -- LINEA DIVISORIA -->
                                                                
                            {editarSitio}
                            {registrarSitio}
                        
                                <h2>Detalles del destino...</h2>
                                <div class="row-fluid">                                
                                    <div class="span8 contenido">
                                        <div class="detalle_sitio">
                                            <h4>Descripción</h4>
                                            <p>{descripcion}</p> <!-- es puro texto -->
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid contenido">                                            
                                            
                                            <h4 class="titulo-votos">Confías en este sitio?</h4>
                                            <div class="box-votos">
                                                <a data-value="1" class="voto-up"><i class="icon-thumbs-up-alt icon-3x"></i></a>                                                                                            
                                                <a data-value="2" class="voto-down">&nbsp;<i class="icon-thumbs-down-alt icon-3x"></i></a>                                                
                                            </div>       
                                            <h5 class="total_votos">{votos} Personas confían en este sitio</h5>
                                            <!--
                                            <div class="campo-votos">
                                                <a data-value="1" class="voto_sitio" id="voto1" title="1 voto de confianza"><i class="icon-thumbs-up-alt"></i></a>
                                                <a data-value="2" class="voto_sitio" id="voto2" title="2 votos de confianza">&nbsp;<i class="icon-thumbs-up-alt"></i></a>
                                                <a data-value="3" class="voto_sitio" id="voto3" title="3 votos de confianza">&nbsp;<i class="icon-thumbs-up-alt"></i></a>
                                                <a data-value="4" class="voto_sitio" id="voto4" title="4 votos de confianza">&nbsp;<i class="icon-thumbs-up-alt"></i></a>
                                                <a data-value="5" class="voto_sitio" id="voto5" title="5 votos de confianza">&nbsp;<i class="icon-thumbs-up-alt"></i></a>
                                            </div>
                                            <h5 class="total_votos">El sitio tiene {votos} votos de confianza</h5>
                                            -->
                                        </div>                                                                                                                           

                                        <br />
                                        <div class="row-fluid">
                                            <a class="btn btn-green active"><h4>¿Sabes quien te puede traer a este sitio?</h4></a>
                                        </div>                                        
                                        
                                        
                                    </div>                                
                                </div>

                                <!--<div class="row-fluid"><hr /></div> -->

                                <div class="row-fluid">  
                                    <h2>Ubicación</h2>
                                    
                                    <div class="maps">                                    
                                        <div id="map_canvas" style="width:100%; height:100%"></div>                                    
                                    </div>

                                </div>                                
                                <!-- <div class="row-fluid"><hr></hr></div> -->

                                <!-- <h2>Actividad social...</h2> -->
                            </div>
                        </div>                   
                        <div class="span3 ">
                            <br />
                            <div class="row-fluid"> 
                                <!--<div class="row-fluid comparte">
                                    <h3>¡ Comparte !</h3>       
                                </div>-->
                                           
                                <div class="btn-block" id="visitar_sitio">
                                  <button id="ha-estado" class="btn btn-red-wine">He estado allí</button>
                                  <button id="quiere-ir" class="btn btn-blue">Quiero estar allí</button>                                  
                                </div>                                
                            </div>
                            
                            <div class="row-fluid contenido contacto">
                                {contacto}  <!-- en sitio/contacto.html -->                                                     
                            </div>

                            <div class="row-fluid">
                                <div class="seguidores contenido">                            
                                    <h3><a href="#seguidores">Visitantes</a></h3>
                                    {seguidores}  <!-- en generales/seguidores.html-->
                                </div> <!-- seguidores -->                        
                            </div>

                            <div class="row-fluid">
                                <div class="seguidores contenido">                            
                                    <h3><a href="#seguidores">Quieren visitarlo</a></h3>
                                    {gustaria}  <!-- utiliza tambien generales/seguidores -->
                                </div> <!-- seguidores -->   

                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid"><hr /></div>

        {ferrocarril} <!-- generales/ferrocarril -->

    </section>

    {modales} <!-- generales/barramodales.html-->



    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCgDQaCxGzNVRkJ5HT8tWKcxNAW7DM8ktQ&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          //center: new google.maps.LatLng(4.15,-73.64),
          //center: new google.maps.LatLng(51.30,-0.03),
          center: new google.maps.LatLng({latitud},{longitud}),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
    </script>