        <!-- editar perfil-->
        <div id="registrarSitio" style="display: none">
            <legend>
                <a class="close cancelarRegistroSitio">&times;</a>            
                <h3>Registar Sitio</h3>
            </legend>        
            
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="RnomS">Nombre: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RnomS" required> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RdescS">Descripcion: </label>
                    <div class="controls">
                        <textarea id="RdescS" style="min-width: 200px; max-width: 500px; max-height: 200px" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RcityS">Ciudad: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RcityS" required>
                    </div>
                </div>                       
                <div class="control-group">
                    <label class="control-label" for="RdirS">Direccion: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RdirS" required>
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="RtelS">Telefono: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RtelS" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RmailS">Email: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RmailS" required>
                    </div>
                </div>       
                <div class="control-group">
                    <label class="control-label" for="RlatS">Latitud: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RlatS" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RlongS">Longitud: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RlonS" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RwebS">Sitio Web </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RwebS">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RfaceS">Perfil de Facebook: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RfaceS">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="RtwiS">Perfil de Twitter: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RtwiS" placeholder="@tu_perfil">
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="RyouS">Canal de Youtube: </label>
                    <div class="controls">
                        <input type="text" class="input-large" id="RyouS">
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="RtipoS">Categoria del Sitio </label>
                    <div class="controls">    
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-music" id="Et_disco"><i class="icon-music"></i> Discoteca
                        </label>
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-glass" id="Et_bar"><i class="icon-glass"></i> Bar
                        </label>                                                
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-food" id="Et_resta"><i class="icon-food"></i> Restaurante
                        </label>
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-suitcase" id="Et_hotel"><i class="icon-suitcase"></i> Hospedaje
                        </label>
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-dribbble" id="Et_recrea"><i class="icon-flag"></i> Recreacion
                        </label>                        
                        <label class="radio"> 
                            <input type="radio" name="RtipoS" value="icon-road" id="Et_camina"><i class="icon-road"></i> Caminata
                        </label>
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="Rpass1S">Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" id="Rpass1S" required>
                        <span class="help-inline">minimo 6 caracteres entre letras y números</span>      
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Rpass2S">Confirma tu Contraseña: </label>
                    <div class="controls">
                        <input type="password" class="input-medium" id="Rpass2S" required>
                    </div>
                </div>
                <div class="control-group">                  
                  <div class="controls">
                    <a class="btn btn-primary" id="guarda_sitio">Crear Sitio</a>
                    <a class="btn btn-red cancelarRegistroSitio">Cancelar</a>
                  </div>
                </div>                
            </form>   
        </div>            