                                <div class="container-fluid" id="contenido-black">
                                     <div class="carrusel_publicidad">    <!--  IMAGEN PRINCIPAL  -->
                                        <a href="{url_galeria}?id={id_sitio}" class="btn btn-blue active btn-slider" id="galeria">Ver Galeria</a>
                                        <div id="main-carousel" class="carousel slide">
                                            <div class="carousel-inner"><!-- Carousel items -->
                                                {imagenes} <!-- incluidas en la visata -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                